<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rokni.net; the experimental site of Ali M. Rokni</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,500">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header class="vcard" id="Home">
    <hgroup>
        <h1 class="header fn">Ali Mehran Rokni</h1>
        <h2 class="tagline">
            The experimental site, information about my interests;design and development since 1999 <a href="#tocontent" accesskey="0" class="skip-nav">Skip navigation</a>
            <span class="hide email">info@rokni.net</span>
        </h2>
    </hgroup>
</header>

<div class="mainContent">
    <nav>
        <ul id="nav">
        {{#siteTable}}
                {{#topic}}
                    {{#section}}
                        {{#first}} 
                            <li class="listItem"><a href="#{{title}}" class="navigation">{{title}}</a></li>
                        {{/first}}
                        {{^first}}
                            <li class="listItem"><a href="#{{title}}" class="navigation">{{title}}</a></li>
                        {{/first}}
                    {{/section}}
                {{/topic}}
        {{/siteTable}}
        </ul>
    </nav>
        
    <article class="billboard">
        {{#siteTable}}
            {{#topic}}
                {{#section}}
                    {{#first}}
                        <section class="boilerplate" id="tocontent">
                            {{{paragraph}}}
                        </section>
                    {{/first}}
                {{/section}}
            {{/topic}}
        {{/siteTable}}
    </article>
    <article class="contentTable">
        {{#siteTable}}
                {{#topic}}
                    {{#section}}
                        {{^first}}
                            <section {{#range}}id="tabs"{{/range}}>
                                <header id="{{title}}">
                                    <h1 class='header2 {{^first}}"absolute"{{/first}}'> 
                                        {{title}}
                                    </h1>
                                    <nav>
                                        {{^first}}{{{subtitle}}}{{/first}}
                                    </nav>
                                </header> 
                                <p class='contenttxt'>
                                    {{{paragraph}}}
                                </p>
                            </section>
                        {{/first}}
                    {{/section}}
                {{/topic}}
        {{/siteTable}}
    </article>
</div>
<script src="../js/site.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/data-chart.js"></script>
<script src="../js/highchartjs/highcharts.js"></script>
<script src="../js/highchartjs/modules/exporting.js"></script>
<script src="../js/delicious.js"></script>

</body>
</html>